@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body{text-transform: none;}


.landing-page .product-link,.purchase-info .btn:first-of-type{background:#256eff}
.landing-page .card-wrapper{width: 90%;margin:0 auto}
.landing-page .product-content h4 {font-size: 20px;}
.landing-page {background: #f5f5f5;}
.landing-page img{width:100%;display:block}
.landing-page .img-display{overflow:hidden}
.landing-page .img-showcase{display:flex;width:100%;transition:.5s;}
.landing-page .img-showcase img{min-width:100%;height: 600px;}
.landing-page .img-select{display:flex}
.landing-page .img-item{margin:.3rem}
.landing-page .img-item:first-child,.img-item:nth-child(2),.img-item:nth-child(3){margin-right:0}
.landing-page .img-item:hover{opacity:.8}
.landing-page .product-content{padding:2rem 1rem}
.landing-page .product-title{font-size:2.5rem;text-transform:capitalize;font-weight:700;position:relative;color:#0092d1;margin:1rem 0}
.landing-page .product-title::after{content:"";position:absolute;left:0;bottom:0;height:4px;width:80px;background:#0092d1}
.landing-page .product-link{text-decoration:none;text-transform:uppercase;font-weight:400;font-size:.9rem;display:inline-block;margin-bottom:.5rem;color:#fff;padding:0 .3rem;transition:.5s}
.landing-page .header,footer{width:100%;background: #f0f0f0;}
.landing-page .product-link:hover,.purchase-info .btn:hover{opacity:.9}
.landing-page .product-rating{color:#ffc107}
.landing-page .product-rating span{font-weight:600;color:#252525}
.landing-page .product-price{margin:1rem 0;font-size:1rem;font-weight:700}
.landing-page .product-detail ul li span,.product-price span{font-weight:400}
.landing-page .last-price span{color:#f64749;text-decoration:line-through}
.landing-page .new-price span{color:#256eff}
.landing-page .product-detail h2{text-transform:capitalize;color:#12263a;font-size:20px}
.landing-page .product-detail p{font-size:.9rem;padding:.3rem;opacity:.8; text-align: left;}
.landing-page .product-detail ul{margin:1rem 0;font-size:.9rem}
.landing-page .product-detail ul li{margin:.4rem 0;list-style:none;padding-left:1.7rem;font-weight:600;opacity:.9;position:relative}
.landing-page .purchase-info{margin:1.5rem 0}
.landing-page .purchase-info .btn,.purchase-info input{border:1.5px solid #ddd;border-radius:25px;text-align:center;padding:.45rem .8rem;outline:0;margin-right:.2rem;margin-bottom:1rem}
.landing-page .purchase-info input{width:60px}
.landing-page .purchase-info .btn{cursor:pointer;color:#fff}
.landing-page .purchase-info .btn:last-of-type{background:#f64749}
.landing-page .social-links{display:flex;align-items:center}
.landing-page .social-links a{display:flex;align-items:center;justify-content:center;width:32px;height:32px;color:#000;border:1px solid #000;margin:0 .2rem;border-radius:50%;text-decoration:none;font-size:.8rem;transition:.5s}
.landing-page .social-links a:hover{background:#000;border-color:transparent;color:#fff}
.landing-page .product-content h3{font-size:24px;color:#999494;margin-bottom:10px}
.landing-page .product-detail ul li:before{background:#0092d1;border-radius:100%;content:'';border:1px solid #0092d1;position:absolute;width:5px;height:5px;left:10px;top:8px}
.landing-page .header{display:flex;padding:20px 10px;align-items:end;justify-content:space-between;box-shadow: 1px 4px 11px -4px #cbc5c5;}
.landing-page .header img{width: 140px;height: 90px;}.header h2{margin:0;font-weight:700;font-size:25px;color:#212529;}
.landing-page .main-content{margin:40px 0}.card{padding:30px}footer{text-align:center;padding:15px}
.landing-page .landing-btns{display:flex;align-items:center;}
.landing-page .landing-btns a:hover{background: #009ed6;}
.landing-page .landing-btns a{    font-size: 20px ! IMPORTANT;
    background: #898989;
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    margin-right: 20px;
    font-weight: 900;
}
.landing-page footer p{margin:0}
.landing-page .product-content h4 {font-size: 17px;}
.landing-page .header-inner {width: 90%; display: flex;align-items: baseline;justify-content: space-between;margin: 0 auto;}
.blue-btn .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #009ed6;
    color: #ffff;
    padding: 10px 15px;
}

.blue-btn .content h3 {
    color: #fff;
    font-size: 13px;
    font-weight: 900;
}

.blue-btn .content h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}
.blue-btn {
    margin-bottom: 30px;
}

@media screen and (max-width: 1920px){
    .blue-btn .content h3 {
    font-size: 13px;
}
.blue-btn .content h2 {
    font-size: 16px;
}
}
@media screen and (min-width: 992px){
    .landing-page .landing-btns{width:100%}
    .landing-page .landing-btns a{font-size: 14px;}
    .landing-page .card{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:1.5rem}
    .landing-page .card-wrapper{display:flex;justify-content:center;align-items:center}
    .landing-page .product-imgs{display:flex;flex-direction:column;justify-content:center}
    .landing-page .product-content{padding-top:0}
}
@media only screen and (max-width: 600px) {
    .landing-page .header-inner{display:block;text-align:center}
    .landing-page .header img{display:flex;margin:0 auto 0;width:80px;height:50px}
    .landing-page .header h2{font-size:20px}.card{padding:20px}
    .landing-page .img-showcase img{height: auto;}
    .landing-page .main-content{margin:10px 0}
    .landing-page .product-title{font-size:26px}
    .landing-page .product-content{padding:15px 0}
    .landing-page .product-content h3{font-size:13px}
    .landing-page .product-detail h2{font-size:15px}
    .landing-page .landing-btns a{padding: 10px; font-size: 14px !important; width: 100%; text-align: center;}
    .landing-page .landing-btns{justify-content:space-between}
    .landing-page footer p {font-size: 13px;}
    .blue-btn .content {
        margin-bottom: 20px;
    }
    .landing-btns a:last-child {
        margin: 0;
    }
    .landing-page .landing-btns a:hover {	
        background: #009ed6;
    }
    .blue-btn .content h2 {	
        font-size: 15px;
    }
    .landing-page .header {
        padding: 10px;
    }
    
}

.halfLineBreak{
    height:5px; 
    visibility:hidden;
    margin: 0 5px;
}
.blue-btn .content{
    min-height: 80px;
}